---
layout: default
---

{% for post in paginator.posts %}
<div class="card">
	<div class="card-block">
		<h4 class="card-title"><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>

		<h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: " %-d %b %Y" }}</h6>
		<p class="card-text">{{ post.content }}</p>
	</div>
</div>
<br>
{% endfor %}

<div class="container">
	<div class="row">
		<div class="col">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="previous"><button type="button" class="btn btn-secondary btn-sm">Newer Posts</button></a>
			{% endif %}
		</div>

		<div class="col text-center">
			<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		</div>

		<div class="col text-right">
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="next"><button type="button" class="btn btn-secondary btn-sm">Older Posts</button></a>
			{% endif %}
		</div>
	</div>
</div>
