<div class="card">
	<div class="card-block">
		<h2 class="card-title">Give a bit back</h2>

		<div>
			Like this site?  Contributions welcome, and will be spent down the pub.
			<a href="https://www.coinbase.com/checkouts/79662c7402169c3e50d60e39f7c7af06" target="_blank">Donate Bitcoins</a>
		</div>
	</div>
</div>

<br>

<div class="card">
	<div class="card-block">
		<h2 class="card-title">Buy/Sell Bitcoins - Locally</h2>

		<div>
			<iframe allowtransparency="true" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" scrolling="no" width="234" height="60" src="https://localbitcoins.com/affiliate-embed/half-banner?ref=1bg"></iframe>
		</div>
	</div>
</div>

<br>

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

<div id="accordion" role="tablist" aria-multiselectable="true">
{% for year in postsByYear %}
	{% if forloop:first %}
		{% assign expand = true %}
		{% assign collapse = "collapse show" %}
	{% else %}
		{% assign expand = false %}
		{% assign collapse = "collapse" %}
	{% endif %}

	<div class="card">
		<div class="card-header" role="tab" id="heading-{{ year.name }}">
			<h5 class="mb-0">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ year.name }}" aria-expanded="{{ expand }}" aria-controls="collapse-{{ year.name }}">
					<h3>{{ year.name }} ({{ year.size }})</h3>
				</a>
			</h5>
		</div>

		<div id="collapse-{{ year.name }}" class="{{ collapse }}" role="tabpanel" aria-labelledby="heading-{{ year.name }}">
			<div class="card-block">
				<div class="list-group">
					{% for post in year.items %}
						<a href="{{ post.url }}" class="list-group-item list-group-item-action flex-column align-items-start ">
							<small class="text-muted">{{ post.date | date: " %-d %b %Y" }}</small>

							<p class="mb-1">{{ post.title }}</p>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
